@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/variables.scss' as *;

.new-medication{
    padding: 1rem;
    @include content-box;
    & p{
        margin-bottom: 4px;
    }
    &__input{
        width: 90%;
        padding: 1rem;
        border: 1px solid rgba(51, 51, 51, 0.50);
        border-radius: 40px;
    }
    &__submit{
        margin: 1rem 0;
        @include btn;
    }

}