@font-face {
	font-family: 'FiraSans';
	src: url('src/assets/fonts/FiraSans-Regular.ttf');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'OpenSans';
	src: url('src/assets/fonts/OpenSans-Regular.ttf');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

