$NAV-BG: #4A90E2;
$BACK-BTN: #4A90E2;

$NAV-BTN-BG: #A1D884;
$BTN-BG: #F79256;
$BTN-TXT: #FCFCFC;

$PRIMARY-BG: #FAF9F6;
$SECONDARY-BG: #FCFCFC;
$PRIMARY-TXT: #333333;
$HEADER-TXT: #1C1C1C;
$LOGO-TXT: #FAF9F6;
$LABEL-TXT: #C0C0C0;

$ERROR: #FF1744;
$SUCCESS: #32CD32;
$DELAY: #F5B942;

$MARGIN: 1rem;
$TABLET-MARGIN: 2rem;
$DESKTOP-MARGIN: 8.125rem;

$TABLET-BREAKPOINT: 48rem;
$DESKTOP-BREAKPOINT: 80rem;