@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/variables.scss' as *;

.page-body{
    width: 100%;
    display: flex;
    justify-content: center;
}

.prompt{
    @include content-box;
    padding: 1rem;
    width: fit-content;
    @include tablet{
        max-width: 312px;
        min-width: 312px;
        max-height: 655px;
        min-height: 655px;
    }
    &__header{
        margin-top: 0.5rem;
        border-bottom: 1px solid rgba(51, 51, 51, 0.50);
        margin: 0 -1rem 1.5rem -1rem;
        padding: 0.5rem 1rem 1rem 1rem;
    }
    &__image{
        width: 100%;
        border-radius: 1.25rem;
        margin-bottom: 1.25rem;
    }
    &__label{
        margin-bottom: 0;
        font-size: .625rem;
    }
    &__info{
        margin-top: .25rem;
        font-size: 1rem;
    }
    &__dose-info{
        display: flex;
        justify-content: space-between;
        &>div{
            width: 50%;
        }
    }
    &__option{
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
        &>img{
            width: 80px;
            height: 80px;
        }
    }
    &__main-info{
        @extend .prompt__dose-info;
        
    }
    &__navigation{
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
        gap: 1rem;
        &>button{
            font-size: 16px;
            background-color: none;
            font-weight: 600;
            @include btn($SECONDARY-BG, 1px solid $BTN-BG, $BTN-BG, $BTN-BG, none, white);
        }
        
    }
}

.hide{
    visibility: hidden;
}